body {
  background: lightgray;
  box-sizing: border-box
  margin: 0;
}

.big-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 175px;
  padding-right: 175px;
}

img {
  height: 30vh;
  /* width: calc(100% / 3); */
  display: flex;
  position: sticky;
  margin: 0;
}
